@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142 0% 95%;
    --foreground: 142 0% 0%;
    --card: 142 0% 90%;
    --card-foreground: 142 0% 10%;
    --popover: 142 0% 95%;
    --popover-foreground: 142 95% 0%;
    --primary: 142 76.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104 10% 85%;
    --muted-foreground: 142 0% 35%;
    --accent: 104 10% 80%;
    --accent-foreground: 142 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 142 0% 90%;
    --border: 142 20% 50%;
    --input: 142 20% 18%;
    --ring: 142 76.2% 36.3%;
    --radius: 1rem;
  }
  .dark {
    --background: 142 10% 5%;
    --foreground: 142 0% 90%;
    --card: 142 0% 0%;
    --card-foreground: 142 0% 90%;
    --popover: 142 10% 5%;
    --popover-foreground: 142 0% 90%;
    --primary: 142 76.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104 10% 15%;
    --muted-foreground: 142 0% 60%;
    --accent: 104 10% 15%;
    --accent-foreground: 142 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 142 0% 90%;
    --border: 142 20% 18%;
    --input: 142 20% 18%;
    --ring: 142 76.2% 36.3%;
    --radius: 1rem;
  }
}
